
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#moves-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.character-tile {
  transition: 100ms;
}

.character-tile:hover {
  transform: scale(1.25);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-block {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
}

.tiles-homepage {
  margin: 1.5em;
}

.character-select {
  margin-right: 2em;
}


.individual {
  margin:1em
}

.title-image-container {
  display: flex;
  justify-content: flex-start;
}

.character-title {
  align-self: center;
  margin-right: 3em;
}

@media only screen and (max-width:700px) {
  .nav{
    flex-direction: column;
  }
  .button-block{
    margin-bottom: 2rem;
  }
  .character-select{
    margin-bottom: 1em;
    margin-top: 1em;
  }

} 


